
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- {% include head.html %} -->
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="./img/about-header.png">
<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/main.css" />
<link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
<script src="./js/jquery-3.3.1.slim.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</head>
<body>

       <!-- {% include navbar.html %} -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand font" href="#">
                <img src="./img/icon.jpeg" width="30" height="30" style="margin-top:-5px;">
                Nakuru Happy Church
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="./service-times.html">Service Times</a></li>
                    <li class="nav-item"><a class="nav-link" href="visit-us.html">Visit Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    

<div class="section-mb">
    <div class="container">
        <div class="row">
            <img src="./img/about-header.png" class="img-responsive" />
        </div>
    </div>
</div>
<div class="section-mt section-mb">
    <div class="container">
        <span class="font title">
            Our History 
        </span>
        <div>
            <div class="eng">
                The Nakur Happy Church of Pipeline, Nakuru began from a small number of families who loved Jesus Christ.
                Through earnest prayer and God’s will, this church was officially recognized on November 12, 2010
                by the NCCK.
                In 2014, God blessed the church with a temporal building where we could congregate.
                 However, we wanted a place where we could freely worship and seek the Lord -
                an established church of our own.  For many years, we relentlessly prayed for God to
                provide us with a church.  Many times we thought we had found a church, only to be met with hardships.
                Nonetheless, we continued to trust in God’s plan for this church.  On September 2016, 
                the Lord provided a place to establish our church firmly in the community.
                After many difficulties with financing, planning, and remodeling, the Nakuru Happy Church 
                had a place of worship on February 2, 2017.  We are forever grateful to the God who
                constantly loves, provides, and delivers his people.
            
        </div>
        <br>
    </div>
</div>
<div class="section-mt section-mb">
    <div class="container">
        <span class="font title">
            Our Leadership Team
        </span>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md section-mb">
                        <img src="./img/pastor.jpg" class="img-responsive img-resize board-photo" />
                    </div>
                    <div class="col-md section-mb">
                        <span class="font subtitle">
                            Senior Pastor,
                            Referend Makori
                        </span>
                        <div class="eng">
                            Pastor Makori began his study of ministry in Kenya where he served for 9 years.
                            He then graduated with a degree in Master of Christian Ministry at Bible College of Kenya
                            He is currently serving the church with his wife and 2 daughters and 1 son.
                        </div>
                        
                    </div>
                    <div class="col-md section-mb">
                        <img src="./img/pastor.jpg" class="img-responsive img-resize board-photo" />
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md section-mb">
                        <img src="./img/pexels-photo-7566185.webp" class="img-responsive img-resize board-photo" />
                    </div>
                    <div class="col-md section-mb">
                        <span class="font subtitle">
                            Assistant Pastor,
                           Makori
                        </span>
                        <div class="eng">
                            Pastor Makori graduated with a BA in Informational Sciences and Technology from The UON
                            and has a Master of Christian Studies from Kampala College.
                            He has been serving the church for more than 12 years with experiences in ministry planting, evangelizing,
                            teaching and equipping sustainable leaders.  He and his wife Esther got married in 2014,
                            and they are very grateful to be ministering together in this city they love and know so well.
                        </div>
                        
                    </div>
                    <div class="col-md section-mb">
                        <img src="./img/d.png" class="img-responsive img-resize board-photo" />
                    </div>
                </div>
            </div>

        </div>
        <br>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md section-mb">
                        <img src="./img/pexels-photo-9174643.jpeg" class="img-responsive img-resize board-photo" />
                    </div>
                    <div class="col-md section-mb">
                        <span class="font subtitle">
                            Director of Christian Education,
                            Ouma
                        </span>
                        <div class="eng">
                            Mr. Ouma Makss  is a certified Christian Worker of the NCCK who has been faithfully serving the church since 2013.
                            Throughout the years, he held multiple positions within the church from Youth Group Director to the Director of Praise and Worship.
                            During the day, he is a respected engineer at one of the world's leading bridge engineering firms.
                            He is currently residing in Nakuru, with his 3 sons.
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md section-mb">
                        <span class="font subtitle">
                            Board of Deacons (Executive Board)
                        </span>
                        <div class="eng">
                            The CCC of the Church is elected by the Church from the Christians who volunteer to serve the Lord.
                            Consisting of 5 female Deacons and 5 male deacons, aged from seniors to adults,
                            ready to serve the Lord and the Church.
                            <br>
                            Our Board of Deacons includes 10 elected members, 5 men and 5 women.
                            By the grace of God, the members are generationally and culturally mixed.
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<div class="section-mt section-mb">
    <div class="container">
        <span class="font title">
            Ministry - Board of Deacons
        </span>

        <div class="row">
            <div class="col-md section-mt">
                <div class="card">
                    <img src="./img/pexels-photo-2014775.webp" class="card-img-top board-photo img-responsive img-resize">
                    <div class="card-body">
                        <span class="font subtitle">
                            Church Secretary,
                            Miss Victoria
                        </span>
                        <div class="eng">
                           Victoria been an active member and  serving the ministries for over 7 years as a worship leader
                            and a teaching assistant for the Children’s Ministry.  She is currently pursuing a Biology Major
                            with a Bible studies at Bible College. Filled with faith, hope and excitement,
                            she finds great delight in all opportunities and miracles God reveals to her.
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md section-mt">
                <div class="card">
                    <img src="./img/pastor.jpg" class="card-img-top board-photo img-responsive img-resize">
                    <div class="card-body">
                        <span class="font subtitle">
                            Church Missions Coordinator,
                            Mr. Martin 
                        </span>
                        <div class="eng">
                            Mr. Martin  received a BA at Egerton University,
                             in Biomedical lab. He has been serving serve the church  as a
                            child and teenager. He likes thinking big thoughts, asking deep questions, and getting
                            lost in a book, an album, a movie, and TV shows.
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md section-mt">
                <div class="card">
                    <img src="./img/pexels-photo-7566185.webp" class="card-img-top board-photo img-responsive img-resize">
                    <div class="card-body">
                        <span class="font subtitle">
                            Events Coordinator
                            Miss Jennifer 
                        </span>
                        <div class="eng">
                            Jennifer Akoth is also serving in the praise team. She is a biochemistry major at
                            Nakuru College and plans to enter Doctoral program after graduation.
                            Jennifer believes that God has blessed her with a loving church family that continually
                            guides and mentors her along her spiritual journey,
                            and she hopes to become a mentor to others in the ministry as well.
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md section-mt">
                <div class="card">
                    <img src="./img/pastor.jpg" class="card-img-top board-photo img-responsive img-resize">
                    <div class="card-body">
                        <span class="font subtitle">
                            Treasurer,
                            Dr. Peter (and wife Doris)
                        </span>
                        <div class="eng">
                            Dr. Peter  graduated with a Doctor of Pharmacy from KU.
                            He feels very blessed to be serving God.
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md section-mt">
                <div class="card">
                    <img src="./img/pexels-photo-2014775.webp" class="card-img-top board-photo img-responsive img-resize">
                    <div class="card-body">
                        <span class="font subtitle">
                            Praise and Worship Director,
                            Mr. Tony 
                        </span>
                        <div class="eng">
                            Mr. Tony  was born and raised in Nairobi.
                            The Nakuru Happy Church has been his second home for most of his life.
                            He is also the owner of a catering company.
                            When it comes to Praise Worship, he has a strong passion to build, train,
                            and expand the praise team to their highest potential.
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md section-mt">
            </div>
        </div>

        <div class="row">
            <div class="col-md section-mt">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 section-mb">
                                <img src="./img/pexels-photo-2014775.webp" class="img-responsive img-resize board-photo" />
                            </div>
                            <div class="col-md-8 section-mb">
                                <span class="font subtitle">
                                    Praise Co-Director of Ministry,
                                    Dr. Anthony Tran
                                </span>
                                <div class="eng">
                                    Dr. Anthony Tran moved to Nakuru to complete his medical training and began serving at this church.
                                    He currently serves as the co-director of the praise ministry.
                                    He believes the praise ministry has a unique place in the church life.
                                    As a Co-Director, he wants to help each praise team member to grow in their leadership.
                                    He also serves in the Friday night Bible Study for the Young Adults.
                                    He believes that discussions are important for learning and growing in Christ.
                                    In his spare time, he enjoys eating out with his wife.
                                </div>
                                
                                <br>
                                <span class="font subtitle">
                                    Women's Fellowship & Young Adult Bible Study Coordinator of Ministry,
                                    Mrs. Nancy
                                </span>
                                <div class="eng">
                                    Mrs. Nancy  followed her husband to the church few years ago.
                                    As a new wife, she felt a strong need for the women in the church to meet and grow
                                    together, supporting each other as sisters in Christ-thus she started the Women’s Fellowship Group.
                                    She also serves as a Bible Study Coordinator for the Young Adults.
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    © 2023 by Nakuru Happy Church of Pipeline, Nakuru
                </div>
                <div class="col-md" align="right">
                    555 Pipeline
                    <br>
                    <img src="./img/call.png" width="30" />
                    (254) 792 313 490
                    <br>
                                        
                        <img src="./img/communication.png" width="40" />
                                        
                    <a href="mailto:mosemakori@gmail.com">mosemakori@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>
