
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- {% include head.html %} -->
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="./img/about-header.png">
<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/main.css" />
<link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
<script src="./js/jquery-3.3.1.slim.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</head>
<body>

       <!-- {% include navbar.html %} -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white ">
        <div class="container">
            <a class="navbar-brand font" href="#">
                <img src="./img/icon.jpeg" width="30" height="30" style="margin-top:-5px;">
                Nakuru Happy Church
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="./about-us.html">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="./service-times.html">Service Times</a></li>
                    <li class="nav-item"><a class="nav-link" href="./visit-us.html">Visit Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- {{ content }} -->

<div class="section">
    <div class="container">
        <div class="row font header">
            <div class="col-md-4 photo">
                <img src="./img/bible.png" width="210" />
            </div>
            <div class="col-md-8 align-self-end">
                Nakuru Happy Church Of God
                <br>
                Pipeline
            </div>
        </div>
    </div>
</div>




<div class="section-mb">
    <div class="container" style="position:relative">
        <div class="row">
            <img src="./img/header.png" class="img-responsive" />
            <!-- <img src="./img/d.png"
                 style="position:absolute;bottom:0;left:0;margin-left:1rem;margin-bottom:1rem;background-color:white;border-radius:5px;" /> -->
        </div>
    </div>
</div>
<div class="section-mt section-mb">
    <div class="container">
        <span class="font title">
            Welcome
        </span>
        <div>
            <div class="eng">
                The Nakuru Happy Church of Pipeline is a Christ-centered, church located in Nakuru, Pipeline,along Nakuru-Nairovi Highway.
                
            </div>
            <div class="viet">
            </div>
        </div>
        <br>

        <span class="font title">
            Our Ministry
        </span>
        <div>
            <div class="eng">
                We proclaim that Jesus is:
                <div class="card section-mt">
                    <div class="card-body">
                        Our Savior (Acts 4:12); Our Sanctifier (1 Corinthians 1:30); Our Healer (James 5:15); Our Coming King (Acts 1:11).
                    </div>
                </div>
            </div>
            <div class="viet">
                The mission of our church is to contribute to the development of strong Christian communities everywhere.
                Help people to hear the Gospel of Salvation, to know about Jesus Christ,
                to believe in God and firmly believe in God, to be transformed by God, to be empowered by the Holy Spirit to
                live in obedience, live in love, live in service, live in joy… in the great name of God.
            </div>
        </div>
        <br>

        <span class="font title">
            PCEA
        </span>
        <div>
            <div class="eng">
                Our church is a member of the National Council of Churches of Kenya NCCK.
            </div>
            <div class="viet">
                Welcome to the home page of nAKURU hAPPY Church.

                In a world of many changes, and with the constant shifting of human space and geography.
                We want to set up this website system, to make it easy for you to find
                Our church, to build up friendships, to live together in a family atmosphere,
                in compatriotism. And above all, so that we can worship God together, and learn about customs together
                living a religious life, in the spirit of serving others, and leading people to the Savior.
            </div>
        </div>
        <br>
    </div>
</div>
<footer>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    © 2023 by Nakuru Happy Church of Pipeline, Nakuru
                </div>
                <div class="col-md" align="right">
                    555 Pipeline
                    <br>
                    <img src="./img/call.png" width="30" />
                    (254) 792 313 490
                    <br>
                                        
                        <img src="./img/communication.png" width="40" />
                                        
                    <a href="mailto:mosemakss@gmail.com">mosemakss@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>