<!DOCTYPE html>
<html lang="en">
<head>
    <!-- {% include head.html %} -->
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="./img/about-header.png">
<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/main.css" />
<link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
<script src="./js/jquery-3.3.1.slim.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</head>
<body>

       <!-- {% include navbar.html %} -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand font" href="index.html">
                <img src="./img/icon.jpeg" width="30" height="30" style="margin-top:-5px;">
                Nakuru Happy Church
                
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="service-times.html">Service Times</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Visit Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="section-mt">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5741.587380909566!2d36.138101994920525!3d-0.3234054214532232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182992153e4e974b%3A0x5b5692e7a09380a!2sTurningPoint%20Church%20Nakuru!5e0!3m2!1sen!2ske!4v1670589004512!5m2!1sen!2ske"
                
        style="width:100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="card">
            <div class="card-body">
                <span class="font title">
                    Nakuru Happy Church
                </span>
                <div>
                    <div class="eng">
                        555 Pipeline, <br>
                        Nakuru. <br>
                        (254) 792 313 490
                    </div>
                    
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-3">
                <span class="font title">
                    Contact Us
                </span>
            </div>
            
            
                
                

                <!-- Facebook -->
                <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
                ><i class="fab fa-facebook-f"></i>Facebook</a>

                <!-- Twitter -->

                <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button"
                ><i class="fab fa-twitter"></i>Twitter</a>

                <!-- Youtube -->
                <a class="btn btn-primary" style="background-color: #ed302f;" href="#!" role="button"
                ><i class="fab fa-youtube"> </i> YouTube </a
                ></a>
                
                <!-- Whatsapp -->
                <a class="btn btn-primary" style="background-color: #25d366;" href="#!" role="button"
                ><i class="fab fa-whatsapp"></i>WhatsApp</a>

                
            
        
        
        
    </div><br>
    <br>
    
</div>

<footer>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    © 2022 by Nakuru Happy Church of Pipeline, Nakuru
                </div>
                <div class="col-md" align="right">
                    555 Pipeline
                    <br>
                    <img src="./img/call.png" width="30" />
                    (254) 792 313 490
                    <br>
                                        
                        <img src="./img/communication.png" width="40" />
                                        
                    <a href="mailto:mosemakss@gmail.com">mosemakss@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>