

<footer>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md">
                   
                               
                          &copy; <script> document.write(new Date().getFullYear())</script> 
                              
                        
                        Designed by <a href="https://petermakori.github.io/">Peter Makori</a>
                       
                </div>
                <div class="col-md" align="right">
                    555 Pipeline
                    <br>
                    <img src="./img/call.png" width="30" />
                    (+254) 792 313 490
                    <br>
                                        
                        <img src="./img/communication.png" width="40" />
                                        
                    <a href="mailto:mosemakss@gmail.com">mosemakss@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>